.header
    width 100% 
    margin 1em auto
    border 1px solid #555
    padding 0 1em
    box-sizing border-box
     
    &_name
        font-size 2em
        color blue
    &_phone
        font-size 1em