
/*! This is a generic button class
 @example
 <div class="header>Button</div>
 @end
*/

.header
    center(1200px)
    &_name
        font-size 2em
        background url('../images/file.png') left center no-repeat
        padding-left 3em
        color blue
        col(1/2)
    &_phone
        font-size 1em
        col(1/2)