
/*! This is a generic button class
 @example 
 <div class="header>Button</div>
 @end
*/

.header
    width 100% 
    margin 1em auto
    padding 0 1em
    border 1px solid #555
    background #FFF
    font-weight 100
    margin-left 0
    font-size 12px    
    &_name
        font-size 2em
        color blue
    &_phone
        font-size 1em